
	.aione-builder-wrapper.mode-editable .aione-builder section{
		    background: #fff;
	}
	.aione-builder-wrapper.mode-editable .aione-builder section{
		    border: 1px solid #d4d4d4;
		    
	}
	.aione-builder-wrapper.mode-editable .aione-builder .ar{
		  
		    margin-bottom: 2px;
		    border: 1px solid #eaeaea;
	}
	.aione-section-handle{
		background-color: white;
	}
	.aione-builder-wrapper.mode-editable .aione-builder .ac{
		    border: 1px solid #e0dddd;
	}
	.aione-builder-elements section{
		    border: 1px solid #e8e8e8;
	}
	.aione-builder-elements section{
		border: 1px solid #e8e8e8;
	}
	.aione-builder-elements .ar{
		border: 0px solid #d8d8d8;
		margin: 10px;
	}
	.aione-option-right-bar{
		background: #f3f3f3;
	}
	.fa .fa-arrows{
		color: #676e71;
	}
