	
	.aione-builder-wrapper.mode-editable .aione-builder section{
		    background: #fff;
		    border: 1px solid #d4d4d4;
	}
	.aione-builder-wrapper.mode-editable .aione-builder .ar{
		   margin-bottom: 2px;
		 border: 1px solid #dadada;
	}
	.aione-section-handle{
		background-color: white;
	}
	.aione-builder-wrapper.mode-editable .aione-builder .ac{
		    border: 1px solid #e0dddd;
		        background: white;
	}
	.aione-builder-elements section{
		    border: 1px solid #e8e8e8;
	}
	
	.aione-builder-elements .ar{
		border: 1px solid #d8d8d8;
		
	}
	.aione-option-right-bar{
		background: #f1f1f1;
	}
	.fa-arrows{
		color: #676e71;
	}
	#aione-builder-elements .aione_collapse_element{
	    background-color: #2c6ea5;
		color: #fff;
	}
	.fa-clone{
		color: #2c6da5;
	}
	.decress-width .fa-minus{
		color: #2c6da5;
	}
	.incress-width .fa-plus{
		color: #2c6da5;
	}